#canvasContainer {
  margin-top: 10px;
  margin-left: 10px;
}

#myForm {
  display: none;
  position: absolute;
  left: 800px;
}

.buttons_list {
  margin-top: 10px;
  margin-left: 10px;
}

#err {
  color: red;
}
