:root {
  --primary: #183153;
  --secondary: #18337d;
  --third: #effd5f;
}

#myForm {
  display: none;
}

#err {
  color: #ff0800;
  margin-left: 12px;
}

#stepAlgorithm,
#exitAlgorithm {
  display: none;
}

/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */

div,
.table tr th {
  color: var(--primary);
}

p,
a,
.table tr td {
  color: var(--secondary);
}

.backColor {
  background-color: var(--third);
}
