{% extends "base.html" %} {% block title %} About Us {% endblock %} {% block
content %}

<div class="container mt-5">
  <div class="row">
    <div
      class="col-sm-12 col-md-12 col-lg-8 mx-auto border text-center p-3 shadow"
    >
      <h4>
        This tool is a Project Work Carried for the partial fulfillment of the
        requirement of Bachelor of Science in Computer Science & Information
        Technology (B.Sc.CSIT) 7th Semester of Tribhuvan University, Nepal.
      </h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto border p-3 shadow">
      <h5>Carried Out By:</h5>
      <h5 class="mt-3 p-4">Krishala Adhikari</h5>
      <h5 class="mt-3 p-4">Prabina Bhushal</h5>
      <h5 class="mt-3 p-4">Aakash Dutta Subedi</h5>
    </div>
  </div>
</div>

{% endblock %}
